# Ignore all
*
# Unignore all with extensions *.py *.sv *Makefile
!*.sv
!*.py
!*.vcd
!Makefile
!.gitignore
!*/
!*.PNG
!Dockerfile
!.dockerignore
!.editorconfig
!.gitattributes
!docker-compose.yml
!README.md
!requirements.txt
!*.sh
!*.ps1
!docs/
!docs/**/
!docs/**/*.md
!docs/**/.obsidian/
!docs/**/.obsidian/app.json
!docs/**/.obsidian/appearance.json
!docs/**/.obsidian/core-plugins.json
!docs/**/.obsidian/graph.json
docs/**/.obsidian/workspace.json
docs/**/.obsidian/workspace-mobile.json
