# Ignore all
*
# Unignore all with extensions *.py *.sv *Makefile
!*.sv
!*.py
!*.vcd
!Makefile
!.gitignore
!*/
!*.PNG
!Dockerfile
!.dockerignore
!.editorconfig
!.gitattributes
!docker-compose.yml
!README.md
!requirements.txt
!*.sh
!*.ps1
